body {
  background-color: #f8f3ed;
  font-family: "Inter", sans-serif;
  color: #2f2a26;
}

.section-badge {
  background-color: #7b4f35;
  color: white;
  margin-bottom: 15px;
}

.menu-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 24px rgba(80, 50, 30, 0.15);
}

form#create-order-form {
  background-color: white;
  padding: 1em;
  border-radius: 18px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  max-width: 800px;
  margin: auto;
  border: 1px solid #eadfd4;
}

.menu-item {
  cursor: pointer;
  width: 100%;
  border: 1px solid #eadfd4;
  border-radius: 16px;
  background: white;
  padding: 1rem;
  text-align: center;
  transition: 0.2s;
}
.order-card,
.card-header,
.card-date {
  background-color: #efe6dd;
}

.menu-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0.75rem;
}

.menu-item span,
.menu-item strong {
  display: block;
}

.name {
  width: 50%;
}

#place-order {
  background-color: #7b4f35;
  color: white;
  border: none;
}
